header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(195,34,187);
    background: linear-gradient(0deg, rgba(195,34,187,0) 0%, rgba(193,45,253,0.8814119397759104) 100%);
    font-size: medium;
    flex-direction: column;
    color:rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
}
.titulo{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.logo{
    display: flex;
    text-align: center;
    
    
}
.border{
    border: 2px solid rgba(131, 44, 153, 0.856);
}
 #grilla{
    background: rgb(253,29,242);
    background: linear-gradient(90deg, rgba(253,29,242,0) 50%, rgba(135,58,180,0) 93%, rgba(252,69,240,0) 100%);
    height: 110vh;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 300px 300px a 100px;
    grid-gap: 0px;
    grid-template-areas: "header header" "depresion ansiedad" "fobia alimentacion" "footer footer";
    height: auto;
 
 }

 .nav{

     display: flex;
     display: inline-block;
     justify-content: center;
     align-items: center;
     justify-content: space-around;
     text-decoration: none;

 }
 .nav ul{
    
     display: flex;
     list-style-type: none;
     font-size: medium;
     
    }
    .nav ul li{
        margin: 15px;
        color: black;
        text-decoration: none;
        list-style: none;
    }

 #header{
     grid-area: header;
 }
 #depresion{
     grid-area: depresion;
 }
 #ansiedad{
     grid-area: ansiedad;
 }
 #fobia{
     grid-area: fobia;
}
#alimentacion{
    grid-area: alimentacion;
}
#footer{
    grid-area: footer;
    background: rgb(195,34,187);
    background: linear-gradient(0deg, rgba(195,34,187,0) 0%, rgba(193,45,253,0.8814119397759104) 100%);
    border: 1px solid rgb(7, 105, 105);
}
 #footer{
     display: flex;
     text-align: end;
     justify-content: end;
     align-items: flex-end;
 }

 @media screen and (min-width: 768px) {
    #grilla{
        background: rgb(253,29,242);
background: linear-gradient(90deg, rgba(253,29,242,0) 50%, rgba(135,58,180,0) 93%, rgba(252,69,240,0) 100%);
    height: 110vh;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 300px 300px a 100px;
    grid-gap: 0px;
    grid-template-areas: "header header" "depresion ansiedad" "fobia alimentacion" "footer footer";
    }
    @media screen and (min-width: 1200px) {
        #grilla{
            background: rgb(253,29,242);
background: linear-gradient(90deg, rgba(253,29,242,0) 50%, rgba(135,58,180,0) 93%, rgba(252,69,240,0) 100%);
        height: 110vh;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 300px 300px a 100px;
        grid-gap: 0px;
        grid-template-areas: "header header" "depresion ansiedad" "fobia alimentacion" "footer footer";
        }
@media screen and (min-width: 1200px) {
            header{
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(195,34,187);
            background: linear-gradient(0deg, rgba(195,34,187,0) 0%, rgba(193,45,253,0.8814119397759104) 100%);
            font-size: medium;
            flex-direction: column;
            color:rgb(0, 0, 0);
            text-decoration: none;

            }
@media screen and (min-width: 768px) {
            header{
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(195,34,187);
            background: linear-gradient(0deg, rgba(195,34,187,0) 0%, rgba(193,45,253,0.8814119397759104) 100%);
            font-size: medium;
            flex-direction: column;
            color:rgb(0,0,0);
            text-decoration: none;
    
                }
@media screen and (min-width: 1200px) {
            .nav{

            display: flex;
            display: inline-block;
            justify-content: center;
            align-items: center;
            justify-content: space-around;
                   
            }
             .nav ul{
                       
            display: flex;
            list-style-type: none;
            font-family: 'Poppins', sans-serif;
            font-size: medium;}
            .nav ul li{
            text-decoration: none;
            list-style: none;
            }
                                   
@media screen and (min-width: 768px){
             .nav{

            display: flex;
            display: inline-block;
            justify-content: center;
            align-items: center;
            justify-content: space-around;
                   
            }
             .nav ul{
                       
            display: flex;
            list-style-type: none;
            font-family: 'Poppins', sans-serif;
            font-size: medium;
                     }
            .nav ul li{
                list-style: none;
            }
        
                     
 @media screen and (min-width: 768px){

             #footer{
            grid-area: footer;
            background: rgb(195,34,187);
            background: linear-gradient(0deg, rgba(195,34,187,0) 0%, rgba(193,45,253,0.8814119397759104) 100%);
            border: 1px solid rgb(7, 105, 105);}

@media screen and (min-width: 1200px){

    #footer{
        grid-area: footer;
            background: rgb(195,34,187);
            background: linear-gradient(0deg, rgba(195,34,187,0) 0%, rgba(193,45,253,0.8814119397759104) 100%);
            border: 1px solid rgb(7, 105, 105);}
